src/main/resources/xsd/adoc-2014-metadata-modifiable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.archyvai.lt/adoc/2014/metadata/modifiable" xmlns:amc="http://www.archyvai.lt/adoc/2014/metadata/common"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.archyvai.lt/adoc/2014/metadata/modifiable"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.archyvai.lt/adoc/2014/metadata/common" schemaLocation="adoc-2014-metadata-common.xsd" />
    <xs:element name="metadata" type="MetadataType" />
    <xs:complexType name="MetadataType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:all>
                    <xs:element name="technical_environment" type="TechnicalEnvironmentType" minOccurs="0" />
                    <xs:element name="event_history" type="EventHistoryType" minOccurs="0" />
                    <xs:element name="responsibilities" type="ResponsibilitiesType" minOccurs="0" />
                    <xs:element name="location" type="LocationType" minOccurs="0" />
                    <xs:element name="description" type="DescriptionType" minOccurs="0" />
                    <xs:element name="documentCopy" type="DocumentCopyType" minOccurs="0" />
                    <xs:element name="custom" type="AnyType" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DescriptionType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="appendixes" type="AppendixesType" minOccurs="0" />
                    <xs:element name="attachments" type="AttachmentsType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AppendixesType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="appendix" type="FileDescriptionType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FileDescriptionType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="title" type="xs:string" minOccurs="0" />
                    <xs:element name="number" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="full-path" type="amc:ReferenceType" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttachmentsType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttachmentType">
        <xs:complexContent>
            <xs:extension base="FileDescriptionType">
                <xs:sequence>
                    <xs:element name="standardVersion" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LocationType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="case_id" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="storage" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResponsibilitiesType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="responsibility" type="ResponsibilityType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResponsibilityType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="area" type="ResponsibilityAreaType" />
                    <xs:element name="responsible" type="amc:EmployeeType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TechnicalEnvironmentType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="standardVersion" type="xs:string" fixed="ADOC-V2.0" />
                    <xs:element name="generator" type="xs:string" minOccurs="0" />
                    <xs:element name="os" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventHistoryType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="sent" type="SendingEventType" />
                    <xs:element name="changed" type="ChangeEventType" />
                    <xs:element name="transformed" type="TransformationEventType" />
                    <xs:element name="restored" type="ReasonableEventType" />
                    <xs:element name="resolution" type="ResolutionEventType" />
                    <xs:element name="executed" type="ExecutionEventType" />
                    <xs:element name="postponed" type="PostponeEventType" />
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResponsibleEventType">
        <xs:complexContent>
            <xs:extension base="amc:EventType">
                <xs:sequence>
                    <xs:element name="responsible" type="amc:EmployeeType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReasonableEventType">
        <xs:complexContent>
            <xs:extension base="ResponsibleEventType">
                <xs:sequence>
                    <xs:element name="reason" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SendingEventType">
        <xs:complexContent>
            <xs:extension base="ReasonableEventType">
                <xs:sequence>
                    <xs:element name="sender" type="amc:EntityType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ChangeEventType">
        <xs:complexContent>
            <xs:extension base="ReasonableEventType">
                <xs:sequence>
                    <xs:element name="summary" type="xs:string" minOccurs="0" />
                    <xs:element name="reference" type="amc:ReferenceType" />
                    <xs:element name="new_value">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:any namespace="##any" processContents="lax" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformationEventType">
        <xs:complexContent>
            <xs:extension base="ResponsibleEventType">
                <xs:sequence>
                    <xs:element name="format" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResolutionEventType">
        <xs:complexContent>
            <xs:extension base="amc:EventType">
                <xs:sequence>
                    <xs:element name="author" type="amc:EmployeeType" minOccurs="0" />
                    <xs:element name="text" type="xs:string" minOccurs="0" />
                    <xs:element name="due_by" type="amc:DateType" minOccurs="0" />
                    <xs:element name="executors" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="executor" type="amc:EmployeeType" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExecutionEventType">
        <xs:complexContent>
            <xs:extension base="ResponsibleEventType">
                <xs:sequence>
                    <xs:element name="comment" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PostponeEventType">
        <xs:complexContent>
            <xs:extension base="amc:EventType">
                <xs:sequence>
                    <xs:element name="reference" type="amc:ReferenceType" minOccurs="0" />
                    <xs:element name="due_by" type="amc:DateType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ResponsibilityAreaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="creation" />
            <xs:enumeration value="arrangement" />
            <xs:enumeration value="relocation" />
            <xs:enumeration value="storage" />
            <xs:enumeration value="destruction" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DocumentCopyType">
        <xs:complexContent>
            <xs:extension base="amc:SignableElementType">
                <xs:sequence>
                    <xs:element name="documentIdentifier" type="xs:string" minOccurs="0" />
                    <xs:element name="copyIdentifier" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AnyType" mixed="true">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:attribute name="ID" type="xs:ID" use="required" />
        <xs:anyAttribute namespace="##any" processContents="lax" />
    </xs:complexType>
</xs:schema>
